p>img{
    max-width: 20%;
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 0 0 10px blue;
}
p>img:hover{
    box-shadow: 0 0 20px red;
    background-color: aqua;
}
.column{
    width: 25%;
    float: left;
}
.san-pham{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
.san-pham, .ten{
    font-size: 3vw;
    font-variant: small-caps;
    color: blue;
}
.san-pham img{
    max-width:50%;
}
.san-pham .gia{
    color: red;
    font-weight: bold;
    font-size: 3vw;
}
.san-pham .gia del{
    color:gray;
}
.image{
    max-width: 20%;
    object-fit: cover;
    width: 100%;
    height: 300px;
}
