body{
    margin: 0;
}
.header{
    background-image: url('images/banner.jpg');
    height: 200px;
}
.header .menu-top-right{
    width: 400px;
    height: 50px;
    background-color: orange;
    border-bottom-left-radius: 40px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 5px 5px 5px grey;
}
.menu-top-right a{
    color: white;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin: 17px;
}
.header .slogan{
    width: 530px;
    height: 70px;
    position: absolute;
    top: 100px;
    left: 30px;
}
.slogan .school-name{
    color: white;
    font-size: 50px;
    font-variant: small-caps;
    font-weight: bold;
    font-family: fantasy;
    letter-spacing: 3px;
}
.slogan .school-type{
    color: orange;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 5px;
}
.nav{
    background-color: orange;
    height: 50px;
}




.nav ul li{
    display: inline-block;
    margin-right: 45px;
    position: relative;
}

.nav ul li a {
    color: white;
    font-size: 20px;
    font-variant: small-caps;
    text-decoration: none;
    line-height: 50px;
}


li.hoi-dap:hover ul.sub-menu{
    display: block;
}


ul.sub-menu{
    position: absolute;
    border-radius: 10px;
    background-color: white;
    top: 35px;
    width: 150px;
    padding: 0%;
    display: none;
}


ul.sub-menu li{
    margin: 0;
    display: block;
    border-bottom: 1px dashed orange;
    padding-left: 10px;
}


ul.sub-menu li:hover{
    background-color: orange;
}


ul.sub-menu li:hover a{
    color: white;
}


ul.sub-menu li a {
    color: orange;
    font-size: 20px;
    font-variant: small-caps;
    text-decoration: none;
    line-height: 30px;
} 




.body{
    min-height: 80vh;
    display: flex;
}
.body .left{
    min-height: 80vh;
    width: 70%;
}
.left .ho-ten{
    width: 300px;
    height: 40px;
    border: 1px solid grey;
}
.left .noi-dung{
    width: 300px;
    height: 200px;
    border: 1px solid grey;
}
.left .gui{
    width: 50px;
    height: 40px;
    background-color: orange;
    color: white;
}
.left .fan{
    width: 150px;
    height: 200px;
    border: 1px solid;
}
.fan .special{
    background-color: red;
    color: white;
    height: 30px;
    line-height: 30px;
}
.body .right{
    min-height: 80vh;
    width: 30%;
    background-color: gray;
}
.footer{
    height: 50px;
    background-color: lightcyan;
    color: gray;
    text-align: center;
    line-height: 50px;
}